<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Mini JS Codes</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <section id="mini-codes">
        <div class="container">
            <h4>Mini JS Codes</h4>
            <nav class="d-flex justify-content-between">
                <ul>
                    <li><a href="./components/Custom Alert/index.html">Custom Alert</a></li>
                    <li><a href="./components/Clock/index.html">Clock</a></li>

                    <li><a href="./components/Custom Alert/index.html">Project Two</a></li>
                    <li><a href="./components/Custom Alert/index.html">Project Three</a></li>
                    <li><a href="./components/Custom Alert/index.html">Project One</a></li>
                    <li><a href="./components/Custom Alert/index.html">Project Four</a></li>
                </ul>
                <ul>
                    <li><a href="./components/Custom Alert/index.html">Project Five</a></li>
                    <li><a href="./components/Custom Alert/index.html">Project Six</a></li>
                    <li><a href="./components/Custom Alert/index.html">Project Seven</a></li>
                    <li><a href="./components/Custom Alert/index.html">Project Eight</a></li>
                    <li><a href="./components/Custom Alert/index.html">Project Nine</a></li>
                    <li><a href="./components/Custom Alert/index.html">Project Ten</a></li>
                </ul>
                <ul>
                    <li><a href="./components/Custom Alert/index.html">Project Eleven</a></li>
                    <li><a href="./components/Custom Alert/index.html">Project Twelve</a></li>
                    <li><a href="./components/Custom Alert/index.html">Project Thirteen</a></li>
                    <li><a href="./components/Custom Alert/index.html">Project Fourteen</a></li>
                    <li><a href="./components/Custom Alert/index.html">Project Fifteen</a></li>
                    <li><a href="./components/Custom Alert/index.html">Project Sixteen</a></li>
                </ul>
                <ul>
                    <li><a href="./components/Custom Alert/index.html">Project Seventeen</a></li>
                    <li><a href="./components/Custom Alert/index.html">Project Eighteen</a></li>
                    <li><a href="./components/Custom Alert/index.html">Project Nineteen</a></li>
                    <li><a href="./components/Custom Alert/index.html">Project Twenty</a></li>
                </ul>
            </nav>
        </div>
    </section>

    <a href="#" class="goBack" onclick="goBack()"><i class="fas fa-backward"></i></a>
    <script>
        function goBack() {
            history.back()
        }
    </script>
</body>

</html>