<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Countdown Timer</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="container">
        <div class="countdown-timer">
            <h1>Job Time Remain</h1>
            <div id="timer"></div>
        </div>
        <a href="#" class="goBack" onclick="goBack()"><i class="fas fa-backward"></i></a>
    </div>
    <script src="js/script.js"></script>
</body>

</html>